# 8:30:00 onwards

# Data Structures:

In [1]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':43,'C':'CCD'}

In [2]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [3]:
# accessing elements:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [5]:
print(D['B'])
S

43

{1, 3, 4.9, 'name'}

In [8]:
print(L)
print(L[1:3])
print(L[::-1])

[1, 3, 4.9, 'name', 3]
[3, 4.9]
[3, 'name', 4.9, 3, 1]

In [9]:
L = L + ["how","are",6,"you"]
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [10]:
L.append(6.8)
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [19]:
del L[3]
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [13]:
T[:3]

(1, 3, 4.9)

In [14]:
T2 = ('a','b',45)
T3 = T+T2
print(T3)

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [15]:
print(S)
S.add(56)
print(S)

{1, 3, 4.9, 'name'}
{1, 3, 4.9, 'name', 56}

In [16]:
S.update({23,"game",1})
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [20]:
S.remove('game')
S

{1, 23, 3, 4.9, 56, 'name'}

In [17]:
print(D)
D['newKey'] = "newValue"
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD'}
{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [21]:
del D['C']
print(D)

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

In [22]:
# in dictionaries concatenating doesnt work --> D = D + D2 doesnt work
D2 = {"y":"YY","z":10}
D.update(D2)
print(D)

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [25]:
# changes made to the 2nd list (references the original list) also changes the original list:
print(L)
L2 = L
print(L2)
L2[2] = "four point nine"
print(L)

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]
[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]
[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [26]:
# changes made to the copied list doesnt show in the original list:
print(L)
L2 = L.copy()
print(L2)
L2[2] = 4.9
print(L)

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]
[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]
[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [28]:
# with slicing, L3 is automatically a copy of L:
print(L)
L3 = L[1:5]
print(L3)
print(L)
L3[0] = "three"
print(L3)
print(L)

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]
[3, 'four point nine', 3, 'how']
[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]
['three', 'four point nine', 3, 'how']
[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [30]:
help(L.append)
L.clear?

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

Signature: L.clear()
Docstring: Remove all items from list.
Type:      builtin_function_or_method

In [31]:
L.pop?

Signature: L.pop(index=-1, /)
Docstring:
Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.
Type:      builtin_function_or_method

In [34]:
L.reverse()

In [35]:
L #reversed now

[6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1]

In [36]:
D.items()

dict_items([(23, 'twothree'), ('B', 43), ('newKey', 'newValue'), ('y', 'YY'), ('z', 10)])

# 9:10:00 onwards

In [39]:
D4 = {'A':L,'B':T,'C':S,'D':D}
D4['A'][3]

'are'

In [42]:
K = D4['D']
K

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [44]:
for x in K:
    print(x, K[x])

23 twothree
B 43
newKey newValue
y YY
z 10

In [45]:
L4 = [L,T,D,23,"game"]
type(L4[2])

dict

In [46]:
L5 = [x**2 for x in range(10)]
L5

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
S3 = {x**2 for x in range(2,20,3)}
S3

{4, 25, 64, 121, 196, 289}

In [56]:
"""Let say you are a teacher and you have different student records containing id of a student and the marks list in each 
subject where different students have taken different number of subjects. All these records are in hard copy. You want to 
enter all the data in computer and want to compute the average marks of each student and display."""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separted values: ")
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, "is already insterted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [58]:
studentData = getDataFromUser()

Enter student ID:  1
Enter the marks by comma separted values:  23,34,45,56,67
Enter "no" to quit insertion:
Enter student ID:  12
Enter the marks by comma separted values:  78,89,80,90,34,44
Enter "no" to quit insertion:
Enter student ID:  123
Enter the marks by comma separted values:  23,21,44,55,66
Enter "no" to quit insertion:  no

In [59]:
studentData

{'1': ['23', '34', '45', '56', '67'],
 '12': ['78', '89', '80', '90', '34', '44'],
 '123': ['23', '21', '44', '55', '66']}

In [60]:
def averageMarks(D):
    avg = {}
    for stu in D:
        L = D[stu]
        sumMarks = 0
        for marks in L:
            sumMarks += int(marks)
        avg[stu] = sumMarks/len(L)
    return avg

In [64]:
averageMarks(studentData)

{'1': 45.0, '12': 69.16666666666667, '123': 41.8}

In [65]:
avgM = averageMarks(studentData)
for x in avgM:
    print("Student :",x,"got avgerageMarks as: ",avgM[x])

Student : 1 got avgerageMarks as:  45.0
Student : 12 got avgerageMarks as:  69.16666666666667
Student : 123 got avgerageMarks as:  41.8